

h1 {
	text-align : center;
	color : #FF2746;
	background-color : white;
	margin-bottom: 50px;
}

.form {
	text-align : center;
	color : black;
	border: solid 2px;
	padding: 20px;
	margin-right: 40%;
	margin-left: 40%;
	margin-bottom: 40px;
}

/* .table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #FF422A;
} */

