<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div >
    <form action="" method='POST' style="border: solid 2px, "> {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value='save'>
    </form>
</div>
	{% if check_result == 1 %}
    <table style="float: left">
        <th style="border: solid 2px" >Name</th>
        <th style="border: solid 2px" >Adress</th>
        <th style="border: solid 2px" >Rating</th>
        <th style="border: solid 2px" >Price</th>
		<th style="border: solid 2px" >Picture</th>
        {% for elem in result %}
            <tr>
                <td style="border: solid 2px" >{{ elem.name }}</td>
                <td style="border: solid 2px" >{{ elem.adress }}</td>
                <td style="border: solid 2px" >{{ elem.rating }}</td>
                <td style="border: solid 2px" >{{ elem.price }}</td>
                <td style="border: solid 2px" > <img src="{{ elem.image }}" alt="picture of the restaurant" width="100" height="100"/></td>
            </tr>
        {% endfor %}
    </table>

	{% elif check_result == -1 %}
		<p> Error : Invalide request</p>
	{% else %}
		<p>Enter your request</p>
	{% endif %}
</body>
</html>