{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Lizy</title>
</head>
<body>
<div>
    <h1 style="text-align: center; color : #FF2746; margin-bottom: 50px;">Lizy - Are you looking for a restaurant?</h1>
</div>
<div>
    <form style="border: solid 2px; margin-right: 40%; margin-left: 40%; margin-bottom: 40px;" action="" method='POST' class="form"> {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value='save'>
    </form>
</div>
<div style="text-align: center">
	{% if check_result == 1 %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <th scope="col" >Name</th>
            <th scope="col" >Adress</th>
            <th scope="col" >Rating</th>
            <th scope="col" >Price</th>
		    <th scope="col" >Picture</th>
        </thead>
        {% for elem in result %}
            <tr>
                <th style="color: black" scope="row"><a href="{{ elem.link }}">{{ elem.name }}</a></th>
                <td>{{ elem.adress }}</td>
                <td>{{ elem.rating }}</td>
                <td>{{ elem.price }}</td>
                <td> <img src="{{ elem.image }}" alt="picture of the restaurant" width="100" height="100"/></td>
            </tr>
        {% endfor %}
    </table>

	{% elif check_result == -1 %}
		<p> Error : Invalide request</p>
	{% else %}
		<p>Enter your request</p>
	{% endif %}
</div>
</body>
</html>